{{- $ctx := . }}
{{/* Register preview styles. */}}
{{- range $name, $partial := default slice site.Params.decap_cms._preview_style_partials }}
  {{- if not $partial.path }}
    {{- errorf "[decap-cms] preview style partial %q's %q is required." $name "path" }}
  {{- else if not (printf "partials/%s.html" $partial.path | templates.Exists) }}
    {{- errorf "[decap-cms] preview style partial %q does not exist: partials/%s.html." $name $partial.path }}
  {{- else }}
    {{- with partial $partial.path $ctx }}
      {{- printf `CMS.registerPreviewStyle("%s");` .Permalink }}
    {{- end }}
  {{- end }}
{{- end }}
{{- $css := resources.Get "decap-cms/scss/index.scss.tmpl" | resources.ExecuteAsTemplate "decap-cms/scss/index.scss" $ctx }}
{{- $css = $css | toCSS (dict
  "transpiler" (default "dartsass" site.Params.decap_cms.sass_transpiler)
  "targetPath" "css/decap-cms.css"
  "outputStyle" (cond hugo.IsProduction "compressed" ""))
}}
{{- $css = $css | fingerprint }}
{{- printf `CMS.registerPreviewStyle("%s");` $css.Permalink }}
{{/* TODO: remove preview_styles in future versions. */}}
{{- if isset site.Params.decap_cms "preview_styles" }}
  {{- warnf `[decap-cms] the "preview_styles" is deprecated, rename it to "_preview_styles" instead.` }}
{{- end }}
{{- range default slice (default site.Params.decap_cms._preview_styles site.Params.decap_cms.preview_styles) }}
  {{- printf `CMS.registerPreviewStyle("%s");` (absURL .) }}
{{- end }}
{{/* Imports preview templates. */}}
{{- $previewTemplates := newScratch }}
{{- range $i, $pt := default slice site.Params.decap_cms._preview_templates }}
  {{- if or (not .name) (not .collections) }}
    {{- errorf "[decap-cms] preview template #%d missing required name or collections." $i }}
  {{- end }}
  {{- $name := .name }}
  {{- $templateName := replaceRE `[-\/]` "_" $name | printf "%s_preview" }}
  {{- if not ($previewTemplates.Get $templateName) }}
    {{- printf `import { default as %s } from "./preview-templates/%s";` $templateName $name }}
  {{- end }}
  {{- $previewTemplates.Add $templateName .collections }}
{{- end }}
{{- $widgets := slice }}
{{- range resources.Match "decap-cms/widgets/*.js" }}
  {{- $name := replace .Name "decap-cms/widgets/" "" }}
  {{- $name = replaceRE ".js$" "" $name }}
  {{- $widgetName := replaceRE `[^\w_]` "_" (printf "widget_%s" $name) }}
  {{- printf `import * as %s from "./widgets/%s";` $widgetName $name }}
  {{- $widgets = $widgets | append $widgetName }}
{{- end }}
{{- $editorComponents := slice }}
{{- range resources.Match "decap-cms/editor-components/*.js" }}
  {{- $name := replace .Name "decap-cms/editor-components/" "" }}
  {{- $name = replaceRE ".js$" "" $name }}
  {{- $componentName := replaceRE `[^\w_]` "_" (printf "editor_component_%s" $name) }}
  {{- printf `import { default as %s } from "./editor-components/%s";` $componentName $name }}
  {{- $editorComponents = $editorComponents | append $componentName }}
{{- end }}
const plainPreview = createClass({
  render: function() {
    return this.props.value;
  }
});
const emptySchema = {};
{{- range $widgets }}
  {{- printf "CMS.registerWidget(%s.name, %s.control, %s.preview ?? plainPreview, %s.schema ?? emptySchema);" . . . . }}
{{- end }}
{{- range $editorComponents }}
  {{- printf "CMS.registerEditorComponent(%s);" . }}
{{- end }}
{{/* Registers preview templates. */}}
{{- range $name, $collections := $previewTemplates.Values }}
  {{- range $collections }}
    {{- printf "CMS.registerPreviewTemplate('%s', %s);" . $name }}
  {{- end }}
{{- end }}
