<!DOCTYPE html>
<html lang="{{ .Site.Language.LanguageCode }}">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="noindex" />
    <title>{{ .Title }}</title>
    {{- with site.Home.OutputFormats.Get "DecapCMSConfig" }}
      <link href="{{ .RelPermalink }}" type="text/yaml" rel="cms-config-url" />
    {{- end }}
    {{ partialCached "decap-cms/hooks/head-end" . }}
  </head>
  <body>
    {{ partialCached "decap-cms/script" . }}
    {{ partialCached "decap-cms/init" . }}
    {{ partialCached "decap-cms/hooks/body-end" . }}
  </body>
</html>
