<!DOCTYPE html>
<html lang="{{ .Site.Language.LanguageCode }}">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="noindex" />
    <title>{{ .Title }}</title>
    {{- with site.Home.OutputFormats.Get "DecapCMSConfig" }}
      <link href="{{ .RelPermalink }}" type="text/yaml" rel="cms-config-url" />
    {{- end }}
  </head>
  <body>
    <script src="{{ default `https://unpkg.com/decap-cms@^3.0.0/dist/decap-cms.js` site.Params.decap_cms.js_url }}"></script>
    {{ safeHTML | .Content }}
  </body>
</html>
